@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F4E1D2;
    width: 100%;
}
    
nav ul li {
    float: left;
}
    
nav ul li a { display: block;
    color: #626670;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
nav ul li.active a {
    background-color: #b2c2bf;
}
    
nav ul li a:hover {
    color: #b2c2bf;
}
    
    
main figure {
    display:block;
    margin-left:auto;
    margin-right:auto;
    }
    
article img { 
    padding-left: 10px;
    padding-bottom: 10px;
    display:block;
    margin:auto;
    max-width: 800px;
    }
    
.town-article{
    display:block;
    margin:none;
    padding:10px;
}
    
footer aside {
    }
}