/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Libre Baskerville', serif;
}

header, nav, main, footer { 
  max-width: 800px;
  min-width: 400px;
    margin: auto;
}

.umbrella {
   float:left;
    position:relative;
    left:0px;
    width: 120px;
    height: 130px;
}

header h1 {
    color: #626670;
    position: relative;
    top:70px;
    left:-50px;
    margin-bottom:40px;  
}

header .subheading {
    color: #3f3931;
    position: relative;
    bottom: 22px;
}

nav {
    clear: left; 
    text-align: center;
}

nav button {
    background-color: #b2c2bf; 
}

nav ul {
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 800px;
    min-width: 400px;
    background-color: #fcdfce;
}

nav ul li a { 
    display: block;
    color: #626670;
    padding: 8px 16px;
    text-decoration: none;
}

nav ul li.active a {
   background-color: #b2c2bf;
}

nav ul li a:hover {
    background-color: #fcdfce;
    color: #3f3931;
}

main {
    margin: auto;
}

main h2 {
    margin-top: 20px;
    margin-bottom:0px;
    text-align: center;
}

main figure {
    margin: 0 0 .2rem 2%; 
    width:96%; 
}

main figure img { 
    width: 500px;
    height: 100px;
    padding-top: 10px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

section.weathersummary {
    text-align: left;
    padding: 20px;
    margin: 10px;
    border: double 3px #b2c2bf
}

.town{
    position: relative;
    bottom: 80px;
    right: 10px;
    float:right;
}

.forecast {
      display: none;
      width: 100%;
      margin-left: auto;
      margin-right:auto;
}

h3 {
   text-align: center; 
}

article p.town-article img {  
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
   display: block;
    position: fixed;
    margin-left:auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.town-article{
    margin: 10px; 
}

footer aside {
    background-color: #b2c2bf;
    padding:20px;
    color: #626670;
    text-align: center;
    line-height: 1.3em;   
}

footer>p {
    background-color: #fcdfce;
    text-align: center;
    padding: 20px;
    margin:0;
} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */